<%- include("partials/header") %>

<h2>Edit Todo</h2>
<form action="/edit/<%= todo._id %>" method="POST" class="form-card">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" required value="<%= todo.title %>">

  <label for="description">Description</label>
  <textarea id="description" name="description"><%= todo.description %></textarea>

  <label for="status">Status</label>
  <select name="status" id="status">
    <option value="Pending" <%= todo.status === 'Pending' ? 'selected' : '' %>>Pending</option>
    <option value="Completed" <%= todo.status === 'Completed' ? 'selected' : '' %>>Completed</option>
  </select>

  <button type="submit" class="btn submit">Update Todo</button>
</form>

<%- include("partials/footer") %>
